@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #050505;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #8b5cf6;
  color: white;
}@keyframes twinkle {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.8);
  }

  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}